@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300;700&family=Mulish&family=Poppins:wght@500&display=swap');

.font-chakra {
  font-family: 'Chakra Petch', sans-serif;
}
.font-mulish {
  font-family: 'Mulish', sans-serif;
}
.font-poppins {
  font-family: 'Poppins', sans-serif;
}
.bg-primary-basic {
  background-color: #161616;
}
.bg-button {
  background-color: #21E6B1;
}
.text-primary-basic {
  color: #D3D3D3;
}
.text-secondary-basic {
  color: #BBBBBB !important;
}
.icon {
  width: 48px;
  height: 48px;
}
.pt-12{
  padding-top: 12px;
}
#container img {
  width:100%;
  height:200px;
  border-radius: 50px;
  object-fit: cover;
}

#dean img {
  width: 170px;
  height: 170px;
  object-fit: cover;
  border-style: solid;
  border-width: 5px 5px 5px 5px;
  border-color: #21E6B1;
  border-radius: 170px;
  box-shadow: 0px 0px 10px 0px rgba(32.99999999999998, 229.99999999999997, 177, 0.48);
}

#dean img {
  vertical-align: middle;
  display: inline-block;
}

#dean {
  text-align: center;
}
.dean-img {
  margin-top: -132px;
}

.font-14 {
  font-size: 14px;
}
.font-20 {
  font-size: 20px;
}
.px-6{
  padding-left: 60px;
  padding-right: 60px;
}
.rounded-5{
  border-radius: 5em;
}
.widget-container {
  margin: 24px;
  border-radius: 25px;
}

.widget-container {
  overflow: hidden;
  transform: translateZ(0);
} 

.ratio {
  aspect-ratio: 16 / 9;
}

.ratio-5 {
  aspect-ratio: 5 / 9;
}

.widget-video .e-hosted-video .video-container {
  -o-object-fit: cover;
  object-fit: cover;
}

.widget-video .ratio iframe, .widget-video .ratio video {
  height: 100%;
  width: 100%;
  border: none;
  background-color: #000;
}

.icon{
  transition: all .5s ease;
}

.icon:hover{
  cursor: pointer;
  background-color: #21E6B1;
  border-radius: 170px;
}

.cursor-pointer{
  cursor: pointer;
}

/* Style for the Contact Pop-up */
.contact-popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
}

.contact-popup-content {
  background-color: #1C1C1C;
  max-width: 85%;
  margin: 100px auto;
  border-radius: 50px;
  height: 500px;
}

.share-popup {
  height: 600px;
}

.contact-popup-close {
  position: relative;
  cursor: pointer;
  font-size: 18px;
  border: 5px solid black;
  top: -30rem;
  left: 21rem;
  padding: 7px !important;
  padding-left: 14px !important;
  padding-right: 14px !important;
  padding-bottom: 10px !important;
}

.share-popup-close {
  top: -36rem;
  left: 20rem;
}

.contact-popup h2 {
  margin-top: 0;
}

.contact-popup form {
  margin-top: 20px;
}

.contact-popup label,
.contact-popup input,
.contact-popup textarea,
.contact-popup button {
  display: block;
  margin-bottom: 10px;
  border-radius: 20px
}


.contact-popup button {
  color: #fff;
  padding: 10px;
  border: none;
  cursor: pointer;
  border: 1px solid #21E6B1;
}

.contact-info {
  width: 38.5rem;
  height: 60px;
  background-color: #101010;
  color: white;
  border: none;
}

.flName {
  width: 18.7rem;
}

.share-info {
  width: 38.9rem;
}


.contact-textarea {
  height: 143px !important; 
  color: #C8C8C8 !important;
}

.contact-info:focus {
  outline: none;
}

.flName::placeholder, .share-info::placeholder{
  color: #C8C8C8; 
}

#popup-img img {
  width:100%;
  height:auto;
  border-radius: 50px;
  object-fit: cover;
  float: right;
}

.h-60 {
  height: 60px;
}

.bar{
  width: 8px;
  height: 24rem;
  top: 10rem;
  background: #21E6B1;
  border-radius: 50px;
}

.bar-share {
  height: 30rem;
}

.pl-8 {
  padding-left: 7rem !important;
}

h1 {
  font-weight: 900;
}

a {
  text-decoration: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 30px #101010 inset !important; 
  -webkit-text-fill-color: white !important;
}

/* Styles for Responsiveness */

@media screen and (max-width: 2560px) {
  .contact-info {
    width: 37.5rem;
  }
  .share-info {
    width: 38.8rem;
  }
  .flName {
    width: 18.7rem;
  }
}

@media screen and (max-width: 2300px) {
  .bar{
    height: 24rem;
    top: 10rem;
  }
  .bar-share {
    height: 30rem;
    top: 10rem;
  }
  .contact-info {
    width: 37.5rem;
  }
  .flName {
    width: 18.7rem;
  }
  
  .share-info {
    width: 38.9rem;
  }
}

@media screen and (max-width: 1440px) {
  .bar{
    height: 24rem;
    top: 10rem;
  }
  .bar-share {
    height: 30rem;
  }
  .contact-info {
    width: 38.5rem;
  }
  .share-info {
    width: 39.7rem;
  }
  
  .flName {
    width: 19.1rem;
  }
  .contact-popup-content {
    max-width: 86%;
  }
}

@media screen and (max-width: 1399px) {
  .contact-info {
    width: 28.4rem;
  }
  .share-info {
    width: 30rem;
  }
  .flName {
    width: 14.3rem;
  }
}

@media screen and (max-width: 1300px) {
  .bar {
    height: 24rem;
    top: 10rem;
  }
  .bar-share {
    height: 30rem;
  }
  .contact-info {
    width: 38.4rem;
  }
  .flName {
    width: 19.1rem;
  }
  .share-info{
    width: 39.8rem;
  }
  .contact-popup-content {
    max-width: 100%;
  }
}

@media screen and (max-width: 1199px) {
  .contact-info {
    width: 27.2rem;
  }
  .flName {
    width: 13.5rem;
  }
  .share-info{
    width: 28.5rem;
  }
}

@media screen and (max-width: 1023px) {
  .contact-info {
    width: 27.2rem;
  }
  .flName {
    width: 13.5rem;
  }
  .share-info{
    width: 28.5rem;
  }
}


@media screen and (max-width: 991px) {
  #popup-img {
    max-height: 22vh;
  }
  .bar {
    top: -8.5rem;
    left: 49%;
    height: 30rem;
    transform: rotate(-90deg);
  }
  .bar-share {
    top: -13.5rem;
  }
  .contact-popup-content {
    flex-direction: column;
  }
  .share-popup-content {
    margin: 20px auto;
  }
  h1 {
    font-size: 24px;
  }
  .contact-popup-close {
    top: -48rem;
    left: 34rem;
  }
  .share-popup-close {
    top: -62rem;
  }
  .contact-info {
    width: 36rem;
  }
  #popup-img img {
    content: url(./Mask_group_res.png); 
  }
  .contact-popup-content {
    max-width: 90%;
  }
  .flName {
    width: 36rem;
  }
  .share-popup {
    height: 730px;
  }
}

@media screen and (max-width: 767px){
  .contact-popup-close {
    top: -42rem;
    left: 24rem;
  }
  .share-popup-close {
    top: -55rem;
  }
  .flName {
    width: 26rem;
  }
  .contact-info {
    width: 26rem;
  }
  .bar, .bar-share {
    height: 20rem;
  }
  .bar {
    top: -3.5rem;
  }
  .bar-share {
    top: -8.5rem;
  }
}

@media screen and (max-width: 575px){
  .contact-popup-close {
    top: -43.5rem;
    left: 26rem;
  }
  .share-popup-close {
    top: -56.5rem;
  }
  .contact-info {
    width: 28rem;
  }
  .flName {
    width: 28rem;
  }
}

@media screen and (max-width: 560px){
  .contact-popup-close {
    top: -43.5rem;
    left: 25.5rem;
  }
  .share-popup-close {
    top: -56.5rem;
  }
  .contact-info {
    width: 27rem;
  }
  .flName {
    width: 27rem;
  }
}

@media screen and (max-width: 530px) {
  .contact-info {
    width: 25rem;
  }
  .flName {
    width: 25rem;
  }
  .contact-popup-close {
    top: -42rem;
    left: 24rem;
  }
  .share-popup-close {
    top: -56rem;
  }
}

@media screen and (max-width: 510px) {
 .contact-popup-close {
    top: -41rem;
    left: 23rem;
  }
  .share-popup-close {
    top: -54rem;
  }
}

@media screen and (max-width: 500px) {
  .contact-popup-close {
    top: -40rem;
    left: 20rem;
  }
  .share-popup-close {
    top: -53rem;
  }
  .contact-info {
    width: 22rem;
  }
  .flName {
    width: 22rem;
  }
}


@media screen and (max-width: 320px) {
  .bar {
    top: -3.5rem;
  }
  .bar-share {
    top: -8.4rem;
  }
}